* {
  padding: 0;
  margin: 0;
  /* font-family: Georgia, serif !important; */
}

.add__new__btn__mobile__only {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px 10px;
  z-index: 3;
  width: 100%;
  background: rgb(138 172 0);
}
.card-footer .btn {
  background: rgb(138 172 0) !important;
}
.card-body .badge {
  background: rgb(138 172 0) !important;
  font-size: 0.8rem !important;
}
/* @media(min-width: 768px) {
    .add__new__btn__mobile__only {
        display: none;
    }
} */

/*C:\Users\Sajal Gupta\AppData\Local\Programs\Microsoft VS Code*/
